@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:wght@300;400&display=swap");

.clock {
  font-family: "Pangolin", cursive;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.815);
}
